      body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, #0095ff, #00d1ff);
        font-family: Arial, sans-serif;
      }

      .container {
        width: 350px;
        padding: 40px 30px;
        background: white;
        border-radius: 25px;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }

      h2 {
        margin-bottom: 25px;
        color: #0044ff;
        font-size: 32px;
        font-weight: 700;
      }

      .input-box {
        width: 100%;
        margin-bottom: 18px;
      }

      .input-box input {
        width: 100%;
        padding: 12px;
        font-size: 15px;
        border: 2px solid black;
        border-radius: 10px;
        outline: none;
      }

      .btn {
        margin-top: 10px;
        width: 150px;
        padding: 10px;
        border-radius: 12px;
        border: 2px solid black;
        background: linear-gradient(135deg, #ffe2be, #ffdbb1);
        cursor: pointer;
        font-size: 16px;
      }