/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #8807f8;
  color: white;
  padding: 0 40px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.navbar nav a {
  color: rgb(255, 255, 255);
  margin: 0 10px;
}

.navbar nav a:hover {
  text-decoration: underline;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 250px;
  height: calc(100vh - 60px);
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 1rem;
  z-index: 500;
}

/* Main Content */
.main-content {
  margin-left: 250px;
  margin-top: 60px;
  padding: 2rem;
  height: calc(100vh - 60px);
  background-color: #fff9f9;
  color: black;
  overflow-y: auto;
}

/* Navigation link styles */
a.nav-link {
  color: #ccc;
}

a.nav-link:hover {
  color: white;
}
.sidebar a.nav-link {
  color: white;
  text-decoration: none;
  display: block;
  margin: 8px 0;
}

.sidebar a.nav-link:hover {
  color: #ccc;
}
